.button {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button button {

    background-color: var(--primary-green);
    color: var(--text-main);
    border: none;
    font-size: 17px;
    width: 70%;
    border-radius: 15px;
    padding: 15px 0px;
}