:root {
    --primary-green: #1DB954;
    --dark-green: #191414;
    --forest-green: #128C7E;
    --light-bg: #F0F9F4;
    --text-main: #FFFFFF;
    --text-muted: #A7A7A7;
    --accent-lime: #CDDC39;
    --success-color: #2ECC71;
    --error-color: #E74C3C;


}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--light-bg);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-main)
}