.input {

    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-green);
    gap: 10px;
    border-radius: 8px;
    /* width: 70%; */
    padding: 8px 5px;
    margin: 5px auto 0 auto;
}

.label{ 
    margin: 0 auto;
     /* width: 70%; */
     font-size: 14px;
 
}
.icon {
    font-size: 15px;
    position: relative;

    display: block;
    text-align: center;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    background-color: color-mix(in srgb, var(--primary-green), transparent 90%);
    margin-left: 8px;
}

.inputField {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px 5px;
    background: transparent;
}

.validationText{
  color: var(  --error-color);
  font-size: 0px;
  transition: 200ms;
}