.home {
    
    margin: 0 auto;
    padding: 0;
}

.main {
    display: flex;
    padding: 20px;
    color: var(--text-dark-main);
    margin: 0 auto;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.main p {
    font-size: 25px;
}

.aboutText {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
}

.userPhoto {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    border: solid 4px var(--primary-green);
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.techContent {
    width: 80%;
    margin: 20px auto;
}

.tilesGrid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .aboutText {
        width: 100%;
    }

    .tilesGrid {
        grid-template-columns: 1fr;
    }
}
